@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
}

input {
    font-family: "Poppins", sans-serif;
}

.--cta {
    align-self: flex-end;
    padding: .5em 2.5em;
    font-weight: weights(medium);
    border-radius: 1rem;
    cursor: pointer;
    background-color: rgb(0 0 0 / .3);
    border: 0;
    font-size: 1.1rem;
    font-weight: weights(bold);
    font-family: "Poppins", sans-serif;
    letter-spacing: 1.5px;
}

$font-weights: (
    "medium": 500,
    "regular": 400,
    "semi-bold": 600,
    "bold": 700,
);

@function weights($weight) {
    @return map-get($font-weights, $weight);
}

// flex mixin
@mixin  flex($justify, $align, $gap, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
}