@import './config';

.account-wrapper {
  height: 80dvh;
  @include flex(center, center, unset, unset);
}

.role-confirm-dialog {
  position: absolute;
  inset: 0;
  margin: auto;
  display: block;
  border: 0;
  padding: 1em;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.15);
  }
}

.account-options {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 1.5rem;
  background-color: rgb(0 0 0 / 0.2);
  @include flex(center, unset, unset, column);

  &__header {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2rem;
    }

    p {
      font-weight: weights(semi-bold);
      margin-top: -0.5em;
    }
  }

  &__av-options {
    // outline: 3px solid green;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin-block: 1.5em;

    > * {
      padding: 1em;
      border-radius: 0.8rem;
      border: 0;
      font-weight: weights(semi-bold);
      background-color: rgb(0 0 0 / 0.15);
      cursor: pointer;
      transition: all 300ms ease;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .selected {
      background-color: #000;
      color: #fff;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
