@import './config';

.student-dashboard {
  height: 100dvh;
  display: flex;

  .student-activity-area {
    width: 100%;

    @include flex(unset, unset, unset, column);
  }
}
// Global
// List element (ul) to hold all time bars
.time-log-box {
  width: 80% !important;
  margin: 1em auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 43dvh;
  overflow-y: scroll !important;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .no-student {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin-block: auto;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;

    img {
      width: 400px;
    }
  }
}

// For search included navbar
.top-nav {
  // width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
  height: fit-content !important;

  //   Header for admin top nav
  h2 {
    font-weight: weights(bold);
    margin: 0;
    align-self: flex-end;
  }

  .search {
    background-color: rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    overflow: clip;
    padding-inline: 0.5em;
    position: relative;

    input {
      border: 0;
      background-color: transparent;
      padding: 0.7em;

      &:is(:focus-visible, :focus) {
        outline-color: transparent;
      }
    }

    img {
      padding: 0.5em;
    }
  }
}

// No search but request navbar
.default-nav {
  height: fit-content;
  margin-inline: auto 3rem;
  margin-block: 2em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;

  > * {
    padding: 1em 1.5em;
    border-radius: 1rem;
  }

  .notifications {
    background-color: rgb(0, 0, 0, 0.1);
  }

  .new-request {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #35e11966;
    color: #289915;
    font-weight: weights(semi-bold);
  }
}
// End Global

// Prep Admin Dashboard
.prep-admin-dashboard {
  height: 100dvh;
  display: flex;

  &__activity-area {
    width: 100%;
  }
}

.hostel-tutor-dashboard {
  height: 100dvh;
  display: flex;

  &__activity-area {
    width: 100%;

    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 5em;

      //   Header for admin top nav
      h2 {
        font-weight: weights(bold);
      }

      .search {
        background-color: rgb(0 0 0 / 0.1);
        display: flex;
        border-radius: 3rem;
        overflow: clip;
        padding-inline: 0.5em;
        position: relative;

        input {
          border: 0;
          background-color: transparent;
          padding: 0.4em;

          &:is(:focus-visible, :focus) {
            outline-color: transparent;
          }
        }
      }
    }
  }
}

// For student time logged in
.time-box {
  align-self: center;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1.5rem;

  .time-logged-in {
    font-size: 1.2rem;
  }

  .time-status {
    @include flex(center, center, 0, column);

    .time {
      margin: 0;
      font-size: 10rem;

      .modulation {
        font-size: 3rem;
        margin-left: -1em;
      }
    }

    .status-text {
      font-size: 2rem;
      letter-spacing: 1.5px;
      margin-top: -1em;
    }
  }
}

.see-nothing {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}

// Bar to show the different stuff like the time, the status and day
.time-details {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  margin: 1em auto;
  padding-inline: 2.5em;
  justify-content: space-between;
}

.time-details > * {
  margin: 0;
}

.time-log {
  width: 100%;
  @include flex(space-between, center, 0, row);
  padding: 1em 2em;
  background-color: #94be76;
  color: #415333;
  font-weight: weights(medium);
  border-radius: 1rem;
}

.time-log > * {
  margin: 0;
}

// status based colours
.EARLY {
  background-color: #c9e0b9;
  color: #33a853;
}

.LATE {
  color: #ff2828;
  background-color: #fbdbe0;
}
