@import './config';

.student-dashboard {
  height: 100dvh;
  display: flex;

  .student-activity-area {
    width: 100%;

    @include flex(unset, unset, unset, column);

    .top-nav {
      height: fit-content;
      margin-inline: auto 3rem;
      margin-block: 2em;
      display: flex;
      gap: 1em;

      > * {
        padding: 1em 1.5em;
        border-radius: 1rem;
      }

      .notifications {
        background-color: rgb(0, 0, 0, 0.1);
      }

      .new-request {
        display: flex;
        align-items: center;
        gap: 0.5em;
        background-color: #35e11966;
        color: #289915;
        font-weight: weights(semi-bold);
      }
    }
  }
}

// Prep Admin Dashboard
.prep-admin-dashboard {
  height: 100dvh;
  display: flex;

  &__activity-area {
    width: 100%;

    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 5em;

    //   Header for admin top nav
    h2 {
        font-weight: weights(bold);
    }

      .search {
        background-color: rgb(0 0 0 / .1);
        display: flex;
        border-radius: 3rem;
        overflow: clip;
        padding-inline: .5em;
        position: relative;

        input {
            border: 0;
            background-color: transparent;
            padding: .4em;

            &:is(:focus-visible, :focus) {
                outline-color: transparent;
            }
        }

        img {
            position: absolute;
            right: 1rem;
            top: .57rem;
            
        }
      }
    }
  }
}

.hostel-tutor-dashboard {
    height: 100dvh;
    display: flex;
  
    &__activity-area {
      width: 100%;
  
      .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 5em;
  
      //   Header for admin top nav
      h2 {
          font-weight: weights(bold);
      }
  
        .search {
          background-color: rgb(0 0 0 / .1);
          display: flex;
          border-radius: 3rem;
          overflow: clip;
          padding-inline: .5em;
          position: relative;
  
          input {
              border: 0;
              background-color: transparent;
              padding: .4em;
  
              &:is(:focus-visible, :focus) {
                  outline-color: transparent;
              }
          }
  
          img {
              position: absolute;
              right: 1rem;
              top: .57rem;
              
          }
        }
      }
    }
  }
  

// For student time logged i
.time-box {
  align-self: center;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1.5rem;
  background-color: #fbdbe0;

  .time-logged-in {
    color: #ae1531ed;
    font-size: 1.2rem;
  }

  .time-status {
    @include flex(center, center, 0, column);

    .time {
      margin: 0;
      font-size: 10rem;
      color: #ff2828;

      .modulation {
        font-size: 3rem;
        margin-left: -1em;
      }
    }

    .status-text {
      color: #ff2828;
      font-size: 2rem;
      letter-spacing: 1.5px;
      margin-top: -1em;
    }
  }
}

// Bar to show the different stuff like the time, the status and day
.time-details {
  box-sizing: border-box;
  display: flex;
  width: 75%;
  max-width: 900px;
  margin: 1em auto;
  justify-content: space-between;
}

.time-details > * {
  margin: 0;
}

.time-log {
  width: 80%;
  max-width: 900px;
  @include flex(space-between, center, 0, row);
  margin: 0 auto;
  background-color: #fbdbe0;
  padding: 1em 2em;
  font-weight: weights(medium);
  border-radius: 1rem;
  color: #ff2828;
}

.time-log > * {
  margin: 0;
}
