@import './config';

.wrapper {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

// Go back home link
.back-link {
  position: absolute;
  top: 0;
  margin: 1em;
  left: 0;
  padding: 1em;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #222;

  &:hover {
    outline: 2px solid #222;
  }
}

// Response status indicator styles
.response-status {
  padding: 0.7em;
  width: 50%;
  text-align: center;
  color: #289915;
  outline: 2px solid currentColor;
  background-color: #35e11966;
  max-width: 400px;
  border-radius: 0.5rem;
}

// Error response {
.response-status.error {
  color: #ff2828;
  background-color: #f63f3f66;
  outline: 2px solid currentColor;
}

.excusal {
  width: 50%;
  padding: 1em;
  background-color: #1b9dd99d;
  color: #222;
  border-radius: 1rem;
}

.excusal__form {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.excusal__form > .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  :is(input, textarea) {
    border: 0;
    padding: 0.7em;
    border-radius: 0.4rem;
  }

  textarea {
    resize: vertical;
    max-height: 200px !important;
  }
}

.excusal__form > .full-width {
  grid-column: 1 / -1;
}

.excusal__form > .cta {
  grid-column-end: -1;
  padding: 0.7em 3em;
  cursor: pointer;
  background-color: #0ca7ee;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-weight: 600;
}

// All requests
.all-requests {
  width: 100%;
  margin: 2em 1em;
}

.all-requests > .action-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1em;
}

.all-requests > .action-div .request-count {
  outline: 2px solid #289915;
  margin-top: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7em 1em;
  border-radius: 0.5rem;

  span {
    font-weight: 600;
  }
}

.all-requests > .action-div button {
  border: 0;
  padding: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 300ms ease;

  &:hover {
    background-color: #0ca7ee;
    color: #fff;
  }
}

.all-requests > .requests {
  padding: 0;
  height: 80dvh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  padding-block: 1em;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #888888b0;
  }
}

.requests > * {
  background-color: #29991579;
  margin-inline: 1em;
  padding: 1em;
  border-radius: 1rem;
  display: inherit;
  align-items: center;
  gap: 2em;
  color: #289915 !important;
  outline: 2px solid currentColor;

  h3 {
    margin: 0;
  }

  .created-at {
    margin-left: auto;
  }
}

// Admin requests panel
.admin-requests {
  width: 90%;
  margin: 0 auto;

// styles for primary nav
.primary-nav {
  display: flex;
  gap: 2em;
  align-items: center;
  margin: 1em;

  // Style for back button
  .back-cta {
    background-color: #D1ECF7;
    color: #222;
    padding: .5em 1.5em;
    border-radius: .5rem;
    font-size: 1.2rem;
  }

  h1 {
    font-weight: weights(bold);
  }
}

// Styles for primary nav
.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;

  // Search box
  .search {
    border-radius: 3rem;
    overflow: clip;
    position: relative;
    background-color: #cecece;

    input {
      padding: .5em .7em;
      flex: 1;
      border: 0;
      background-color: transparent;

      &::placeholder {
        color: #222;
      }
    }

    .search-icon {
     padding-right: .7em;
      
    }
  }
}
}

// Styles for the requests area
.requests-area {
  margin-top: 2em;
  margin-inline: 2em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  // These select both uls
  & > * ul {
    height: 73dvh;
    overflow-y: scroll;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Boxes 
  .request-box {
    padding: 1em;
    border-radius: 1.1rem;
    background-color: #82c5e8;

    // Headers
    h4 {
      margin: 0;
      font-weight: weights(bold);
    }
   
    .content {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    // Style user avatar holders
    .avatar {
      width: 20%;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #dbdbdb;
    }

    // request action button styles
    .request-ctas {
      width: fit-content;
      width: -moz-fit-content;
      margin-left: auto;
      display: flex;
      gap: .5em;

      button {
        padding: .5em .8em;
        border-radius: .4rem;
        cursor: pointer;
      }

      // Style the approve button
      .approve {
        background-color: #AEF3A3;
        color: #289915;
      }
      
      // Style the disapprove button
      .disapprove {
         background-color: #FCB2B2;
         color: #FF2828;
      }
    }


  }
}
