@import "../config";

// Everything that has to do with forgetting of password will be styled here

.forgot-password-container {
  height: 100vh;
  @include regularFlex(0.7em, center);
  flex-direction: column;
  position: relative;

  // Back button
  .back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    text-decoration: none;
  }

  // Forgot password form
  .forgot-password-form {
    @include regularFlexTwo(0.7em, unset, unset);
    flex-direction: column;
    width: 30%;

    > * {
      padding: 1em;
      border-radius: 0.5rem;
      border: 0;
    }

    // OTP input box
    input {
      outline: 2px solid rgba(112, 112, 112, 0.092);
      transition: all 300ms ease;
      &:hover {
        outline-color: $decent-blue;
      }
    }

    // OTP button
    button {
      background-color: $decent-blue;
      color: #fff;
      letter-spacing: 0.2em;
      font-weight: weights(semi-bold);
      transition: all 300ms ease;

      &:hover {
        box-shadow: $shadow;
      }
    }
  }
}

// Confirm OTP
.otp-container {
    min-height: 100dvh;
  @include regularFlex(0.7em, center);
flex-direction: column;

//   header
h2 {
    width: 33%;
    // margin: 0 auto;
    text-align: center;
}

//   OTP form
.otp-form {
    @include regularFlexTwo(.7em, unset, unset);
    flex-direction: column;
    width: 30%;

    > * {
        padding: 1em;
        border-radius: 0.5rem;
        border: 0;
      }

      // OTP input box
      input {
        outline: 2px solid rgba(112, 112, 112, 0.092);
        transition: all 300ms ease;
        &:hover {
          outline-color: $decent-blue;
        }
      }
  
      // OTP button
      button {
        background-color: $decent-blue;
        color: #fff;
        letter-spacing: 0.2em;
        font-weight: weights(semi-bold);
        transition: all 300ms ease;
  
        &:hover {
          box-shadow: $shadow;
        }
      }
}
}
